#hud,
#controls {
	padding: 2cqi;

	> * {
		position: absolute;
		z-index: 100;

		&:is(ul) {
			pointer-events: none;
		}
	}
}

[data-mode="start"] {
	#hud {
		display: none;
	}
}

[data-mode="play"] {
	#play,
	#toggle_mute,
	#tutorial {
		display: none;
	}

	#life_board {
		display: flex;

		li {
			flex: 0 0 5cqi;
			background-image: url("/assets/game/ui/life.svg");
			background-size: 100%;
			background-repeat: no-repeat;
			aspect-ratio: 1;
		}
	}

	#timer,
	#score_board {
		background-image: var(--src);
		background-size: 100%;
		aspect-ratio: 47/64;
		width: 20cqi;
		right: 0;
		bottom: 0;
		/* display: grid;
		place-content: center; */
	}

	#timer {
		--src: url("/assets/game/ui/timer.svg");
		font-family: var(--font-symbols);

		li {
			position: absolute;
			font-size: 4cqi;
			transition: opacity 2s linear;

			&.hide {
				opacity: 0;
			}

			&:first-child,
			&:last-child {
				top: 0;
			}
			&:first-child,
			&:nth-child(3) {
				left: auto;
				right: 20%;
			}

			&:nth-child(4),
			&:last-child {
				left: 20%;
				right: auto;
			}

			&:nth-child(2),
			&:nth-child(5) {
				top: 50%;
				translate: 0 -50%;
			}

			&:nth-child(2) {
				left: auto;
				right: 0;
			}
			&:nth-child(5) {
				left: 0;
				right: auto;
			}

			&:nth-child(3),
			&:nth-child(4) {
				top: auto;
				bottom: 0;
			}
		}
	}

	#score_board {
		--src: url("/assets/game/ui/score_board.svg");

		display: grid;
		place-items: center;
		font-family: var(--font-display);
		font-size: 5cqi;
		font-weight: bold;
		text-align: center;
	}
}
